<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Eightball</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h1>Eightball</h1>
   Question: <input type="text" name="question">
   <br>
   <button type="button" onclick="getAnswer(question.value)">Ask question</button>
   <br>
   <b>{{answer}}</b>
</body>
</html>