<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Eightball</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h1>Eightball</h1>
   <form action='/eightball' method='POST'>
   Question: <input type="text" name="question">
   <br>
   <button type="submit">Ask question</button>
   <br>
   </form>
</body>
</html>